################################################################################
################################################################################
# 
# Define host-specific values for these variables:
# 
# freenashost : defaults to short hostname returned by 'hostname -s'
# esxihost    : user-defined  
# datastores  : user-defined  
# logdir      : user-defined (and must exist before use)  
#
################################################################################
################################################################################

mypath="$( cd -- "$(dirname "")" >/dev/null 2>&1 ; pwd -P )"

freenashost=$(hostname -s)

# FreeNAS host 'bacon' running on ESXi host 'fritz' with datastores 'BACON' and 'BACON_BLOCK'
# FreeNAS host 'boomer' running on ESXi host 'felix' with datastore 'BOOMER'

if [ "${freenashost}" = "freenas" ] || \
   [ "${freenashost}" = "truenas" ] || \
   [ "${freenashost}" = "naswww" ]; then

  esxihost=esxi
  datastores="ESXI NVR"
  logdir="$mypath/logs/"

else 

  echo "Undefined system!"
  exit 1

fi
